<jenkins>
  <numExecutors>{{ jenkins_num_executors }}</numExecutors>
  <mode>{{ jenkins_mode }}</mode>
  <disableRememberMe>{{ disable_remember_me }}</disableRememberMe>
  <authorizationStrategy class="{{ authorization_strategy_class }}"/>
</jenkins>

